@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-width: 1280px;
  margin: 0 auto;
  background-color: antiquewhite;
  font-family: "Times New Roman", Times, serif;
}

#title {
  background: linear-gradient(to right, #374bff, #ff032d);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 3px 3px 5px gray;
}
.flower-div:hover img {
  scale: 1.2;
  transition-duration: 0.5s;
}
